{% extends "BabySitterBundle::layout.html.twig" %}
{% block qualite %}
<form method="POST" action="{{ path('modifier_responsabilite',{id:responsabilite.idResponsabbilite}) }}">
    <h2>Modifier Responsabilite </h2>
    <table>
        <tr>
            <td>Nom : </td>
            <td>{{ form_widget(form.nom_responsabilite) }}</td>
        </tr>
        <tr>
            <td>Description : </td>
            <td>{{ form_widget(form.descriptionR) }} </td>
        </tr>
        
        <tr>
            <td>     <input type="submit" value="Modifier" name="modifier"/> </td>
            <td></td>
        </tr>
    </table>
    {{ form_rest(form) }}
</form>
{% endblock %}